input[type=checkbox] {
background-repeat: no-repeat;
background-position: center center;
background-size: contain;
-webkit-appearance: none;
outline: 0;
}

input[type=checkbox] + label
{
display:inline-block;
padding: 0 0 0 0px;
}

input[type="checkbox"]:checked + label {
background: #00FF00;
}

body {
    background-color: #191919;
}

body {
    color: #ffffff;
}

/*input[type=checkbox]:checked + label*/
/*{*/
/*background: #0080FF;*/
/*height: 16px;*/
/*width: 16px;*/
/*display:inline-block;*/
/*padding: 0 0 0 0px;*/
/*}*/
 
