@import url('https://fonts.googleapis.com/css?family=Cinzel|Raleway:300');

.lighter {
  font-weight: lighter;
}

.title-font{
  font-family: 'Cinzel', serif;
  font-weight: bold;
  text-shadow: 0px 0px 5px #ffffff;
}

.nav-font{
  font-family: 'Cinzel', serif;
  font-weight: normal;
  font-size: 20pt;
}

.navbtn-font{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.nav-shadow{
  box-shadow: 0px 2px 15px black;

}

h1.title-size{
  font-size: 80pt;
}

.heading-font{
  font-family: 'Cinzel', serif;
  font-size: 50px;
}


.header-description{
  margin-left: 40px;
  margin-right: 100px;
  text-align: justify;
  font-display: block;
}

.title-jumbotron{
  background-color: rgba(242,242,242,0.5);
}

.background-jumbotron{
  margin-top: 50px;
  min-height: 70vh;
  width: 100%;
  background-image: url('/static/images/POE-Background.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
}
.bg-jumbotron-logreg{
  margin-top: 50px;
  height: 110vh;
  width: 100%;
  background-image: url('/static/images/Witch-Background.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
}

.sidebar{
  margin-top: 60px;
  height: auto;
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: rgba(51,51,51,0.7);
  padding-left: 40px;
  padding-right: 35px;
  box-shadow: 2px 0px 15px black;

}

.sidebar-text{
  font-family: 'Cinzel', serif;
  color: #999;
  font-size: 25pt;
  text-shadow: 0px 0px 20px black;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.market-bg{
  background-image: url('/static/images/ascendancy-bg.jpg');
  background-position:top;
  background-size: 120%;
  background-repeat: no-repeat;
  background-color: black;
  overflow-x: hidden;
}

.market-size{
  margin-top: 60px;
  margin-left: 10px;
  padding-top: 20px;
  padding-left: 20px;
  /*padding-right: 30px;*/
  align-items: center;
}

.market-table td{
    min-width: 40px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.form-detail {
  width: 500px;
  align-self: center;
  text-align: center;
}

.navbar-space{
  margin-bottom: 0;
}

.btn-login{
  background-color: #BD5151;
  border-color: #BD5151;
}

.btn-login:hover, .btn-login:active{
  background-color: #BD5151;
  border-color: #BD5151;
}

.btn-register{
  background-color: #323232;
  border-color: #323232;
}


.background-market-jumbotron{
  padding-top: 50px;
  min-height: 90vh;
  width: 100%;
  background-image: url('/static/images/Ranger-Background.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
}

.background-devtool-jumbotron{
  padding-top: 50px;
  min-height: 90vh;
  width: 100%;
  background-image: url('/static/images/Templar-Background.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
}

.bg-jumbotron-register{
  min-height: 90vh;
  width: 100%;
  background-image: url('/static/images/Marauder-Background.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
}

.detail-font{
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  text-shadow: 0px 0px 5px #c1c1c1;
  font-weight: bolder;
}
.item-align{
  padding-left: 20px;
}

tr {
  margin: 50px;
  padding: 20px 5px 20px 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  color: #bfbfbf;
  text-shadow: 0px 0px 2px #777;

  background-color: rgba(51,51,51,0.7);
}

td{
  padding-top: .5em;
  padding-bottom: .5em;
  white-space: nowrap;
  /*overflow: hidden;*/
}

td:first-child{
  padding-left: 20px;
}

th{
  font-family: 'Cinzel', serif;
  font-weight: bolder;
  color: #bfbfbf;
  text-shadow: 0px 0px 5px #777;
  font-size: 18px;
}

table {
  border-collapse: separate;
  border-spacing: 0 1em;
}
