@import url('https://fonts.googleapis.com/css?family=Cinzel|Raleway:300');

.lighter {
  font-weight: lighter;
}

.title-font{
  font-family: 'Cinzel', serif;
  font-weight: bold;
  text-shadow: 0px 0px 5px #ffffff;
}

.nav-font{
  font-family: 'Cinzel', serif;
  font-weight: normal;
  font-size: 20pt;
}

.navbtn-font{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

h1.title-size{
  font-size: 80pt;
}

.heading-font{
  font-family: 'Cinzel', serif;
  font-size: 50px;
}


.header-description{
  margin-left: 40px;
  margin-right: 100px;
  text-align: justify;
  font-display: block;
}

.title-jumbotron{
  background-color: rgba(242,242,242,0.5);
}

.background-jumbotron{
  margin-top: 50px;
  min-height: 70vh;
  width: 100%;
  background-image: url('/static/images/POE-Background.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
}
.bg-jumbotron-logreg{
  margin-top: 50px;
  height: 110vh;
  width: 100%;
  background-image: url('/static/images/Witch-Background.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
}

.sidebar{
  height: 200vh;
  width: 350px;
  background-color: pink;
  padding-left: 50px;
  margin-right: 50px;
}

.sidebar-text{
  font-family: 'Cinzel', serif;
  font-size: 30pt;
  text-align: center;
}

.market-size{
  margin-top: 50px;
  margin-left: 50px;
  padding-left: 50px;
}

.form-detail {
  width: 500px;
  align-self: center;
  text-align: center;
}

.navbar-space{
  margin-bottom: 0;
}

.btn-login{
  background-color: #BD5151;
  border-color: #BD5151;
}

.btn-register{
  background-color: #323232;
  border-color: #323232;
}


.background-market-jumbotron{
  padding-top: 50px;
  min-height: 90vh;
  width: 100%;
  background-image: url('/static/images/Ranger-Background.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
}

.background-devtool-jumbotron{
  padding-top: 50px;
  min-height: 90vh;
  width: 100%;
  background-image: url('/static/images/Templar-Background.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
}

.bg-jumbotron-register{
  min-height: 90vh;
  width: 100%;
  background-image: url('/static/images/Marauder-Background.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
}

.detail-font{
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  text-shadow: 0px 0px 5px #c1c1c1;
  font-weight: bolder;
}