{% extends 'layout.html' %}

{% block body %}

  <div class="jumbotron background-jumbotron">
    <div class="container">
      <div class="jumbotron text-center title-jumbotron">


        <h2 class="title-font">Welcome to</h2>
        <h1 class="title-font title-size">Stash Watch</h1>
        <h3 class="lighter title-font">A Path of Exile item tracker and trading app</h3>
        <br></br>

        {% if session.logged_in == NULL %}
          <a href="/register" class="btn btn-primary btn-lg btn-register">Register</a>
          <a href="/login" class="btn btn-success btn-lg btn-login">Login</a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="jumbotron background-market-jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-7">
        <div class="jumbotron text-center title-jumbotron">
    <h1 class="title-font">What is Stash Watch?</h1>
      <p class="detail-font"><b>Path of Exile is an online Action RPG about two things: devastating skills and valuable items.<br>
Stash Watch watches the trading market for you.
          <br> Check out the Market now!
      </b></p>
            <div><a href="/market" class="btn btn-success btn-lg btn-login">Market</a></div>
        <div class="col-xs-5"></div>
        </div></div></div>
    </div>
  </div>


  <div class="jumbotron background-devtool-jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-5"></div>
            <div class="col-xs-7">
        <div class="jumbotron text-center title-jumbotron">
    <h1 class="title-font">Developer Tools</h1>
      <p class="detail-font"><b>Find the most up to date stash ID from Path of Exile with our API ID JSON.<br>
          Or find the average price with our Trend JSON feed.
      </b></p>
            <div>
                <a href="/api-ids-json" class="btn btn-success btn-lg btn-login pull-left">API IDs</a>
                <a href="/trends" class="btn btn-success btn-lg btn-login pull-right">Trends</a><br>
            </div>
        </div></div></div>
    </div>
  </div>

{% endblock %}
