<!doctype html>

<html>

<style>
body {
    background-color: #191919;
}

body {
    color: #ffffff;
}
</style>

<head>
<title>Market</title>
</head>

<body>
<header>
  <div class="container">
	<h1>Market DB:</h1>
  </div>
</header>

<main>
  <div class="container">
	<table>
		<tr>
{#			<th>item_id</th>#}
			  <th>seller_item</th>
        <th>icon</th>
  			<th>note</th>
  			<th>seller_account_id</th>
  			<th>seller_character_name</th>
        <th>league</th>
        <th>quantity</th>
        <th>posted</th>
		</tr>

        {% for item in market %}
        <tr>
            {% for column in item %}
                {% if loop.index == 2 %}
                     <td><img src="{{ column }}"></td>
                {% else %}
                    <td>{{ column }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}

	</table>
  </div>
</main>

</body>
</html>