{% extends 'layout.html' %}

{#{% block stylesheets %}#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/icon.css') }}">#}
{#{% endblock %}#}

{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/icon.css') }}">
    <script src="{{ url_for('static', filename='scripts/market.js')}}"></script>
<!-- <head>
</head> -->
  <div class="market-bg">
    <div class="row">
      <div class="col-md-4 sidebar">
        <form id="chooser">
            <h2 class="sidebar-text">What items do you have?</h2><br>
            <div class="item-align">

              <input type="checkbox" name="has" value="Apprentice Cartographers Sextant" id="Apprentice Cartographers Sextant"/>
  	            <label for="Apprentice Cartographers Sextant">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/apprentice-sextant.png') }}>
  	            </label>

              <input type="checkbox" name="has" value="Armourers Scrap" id="Armourers Scrap"/>
  	            <label for="Armourers Scrap">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/armour.png') }}>
  	            </label>

              <input type="checkbox" name="has" value="Blacksmiths Whetstone" id="Blacksmiths Whetstone"/>
  	            <label for="Blacksmiths Whetstone">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/whetstone.png') }}>
  	            </label>

              <input type="checkbox" name="has" value="Blessed Orb" id="Blessed Orb"/>
  	            <label for="Blessed Orb">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/blessed.png') }}>
  	            </label>

              <input type="checkbox" name="has" value="Blessing of Chayula" id="Blessing of Chayula"/>
  	            <label for="Blessing of Chayula">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/blessing-chayula.png') }}>
  	            </label>

              <input type="checkbox" name="has" value="Blessing of Esh" id="Blessing of Esh"/>
  	            <label for="Blessing of Esh">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/blessing-esh.png') }}>
  	            </label>

              <input type="checkbox" name="has" value="Blessing of Tul" id="Blessing of Tul"/>
  	            <label for="Blessing of Tul">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/blessing-tul.png') }}>
  	            </label>

              <input type="checkbox" name="has" value="Blessing of Uul-Netol" id="Blessing of Uul-Netol"/>
  	            <label for="Blessing of Uul-Netol">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/blessing-uul-netol.png') }}>
  	            </label>

              <input type="checkbox" name="has" value="Blessing of Xoph" id="Blessing of Xoph"/>
  	            <label for="Blessing of Xoph">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/blessing-xoph.png') }}>
  	            </label>

              <input type="checkbox" name="has" value="Cartographers Chisel" id="Cartographers Chisel"/>
  	            <label for="Cartographers Chisel">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/chisel.png') }}>
  	            </label>

              <input type="checkbox" name="has" value="Chaos Orb" id="Chaos Orb"/>
              <label for="Chaos Orb">
              	<img src= {{ url_for('static', filename = 'currencyIcons/chaos.png') }}>
              </label>

              <input type="checkbox" name="has" value="Chromatic Orb" id="Chromatic Orb"/>
              <label for="Chromatic Orb">
              	<img src= {{ url_for('static', filename = 'currencyIcons/chrom.png') }}>
              </label>

              <input type="checkbox" name="has" value="Divine Orb" id="Divine Orb"/>
              <label for="Divine Orb">
              	<img src= {{ url_for('static', filename = 'currencyIcons/divine.png') }}>
              </label>

              <input type="checkbox" name="has" value="Exalted Orb" id="Exalted Orb"/>
              <label for="Exalted Orb">
              	<img src= {{ url_for('static', filename = 'currencyIcons/exa.png') }}>
              </label>

              <input type="checkbox" name="has" value="Gemcutters Prism" id="Gemcutters Prism"/>
              <label for="Gemcutters Prism">
              	<img src= {{ url_for('static', filename = 'currencyIcons/gcp.png') }}>
              </label>

              <input type="checkbox" name="has" value="Glassblowers Bauble" id="Glassblowers Bauble"/>
              <label for="Glassblowers Bauble">
              	<img src= {{ url_for('static', filename = 'currencyIcons/bauble.png') }}>
              </label>

              <input type="checkbox" name="has" value="Jewellers Orb" id="Jewellers Orb"/>
              <label for="Jewellers Orb">
              	<img src= {{ url_for('static', filename = 'currencyIcons/jew.png') }}>
              </label>

              <input type="checkbox" name="has" value="Journeyman Cartographers Sextant" id="Journeyman Cartographers Sextant"/>
              <label for="Journeyman Cartographers Sextant">
              	<img src= {{ url_for('static', filename = 'currencyIcons/journeyman-sextant.png') }}>
              </label>

              <input type="checkbox" name="has" value="Master Cartographers Sextant" id="Master Cartographers Sextant"/>
              <label for="Master Cartographers Sextant">
              	<img src= {{ url_for('static', filename = 'currencyIcons/master-sextant.png') }}>
              </label>

              <input type="checkbox" name="has" value="Mirror of Kalandra" id="Mirror of Kalandra"/>
              <label for="Mirror of Kalandra">
              	<img src= {{ url_for('static', filename = 'currencyIcons/mirror.png') }}>
              </label>

              <input type="checkbox" name="has" value="Orb of Alchemy" id="Orb of Alchemy"/>
              <label for="Orb of Alchemy">
              	<img src= {{ url_for('static', filename = 'currencyIcons/alch.png') }}>
              </label>

              <input type="checkbox" name="has" value="Orb of Alteration" id="Orb of Alteration"/>
              <label for="Orb of Alteration">
              	<img src= {{ url_for('static', filename = 'currencyIcons/alt.png') }}>
              </label>

              <input type="checkbox" name="has" value="Orb of Augmentation" id="Orb of Augmentation"/>
              <label for="Orb of Augmentation">
              	<img src= {{ url_for('static', filename = 'currencyIcons/aug.png') }}>
              </label>

              <input type="checkbox" name="has" value="Orb of Chance" id="Orb of Chance"/>
              <label for="Orb of Chance">
              	<img src= {{ url_for('static', filename = 'currencyIcons/chance.png') }}>
              </label>

              <input type="checkbox" name="has" value="Orb of Fusing" id="Orb of Fusing"/>
              <label for="Orb of Fusing">
              	<img src= {{ url_for('static', filename = 'currencyIcons/fuse.png') }}>
              </label>

              <input type="checkbox" name="has" value="Orb of Scouring" id="Orb of Scouring"/>
              <label for="Orb of Scouring">
              	<img src= {{ url_for('static', filename = 'currencyIcons/scour.png') }}>
              </label>

              <input type="checkbox" name="has" value="Orb of Regret" id="Orb of Regret"/>
              <label for="Orb of Regret">
              	<img src= {{ url_for('static', filename = 'currencyIcons/regret.png') }}>
              </label>

              <input type="checkbox" name="has" value="Orb of Transmutation" id="Orb of Transmutation"/>
              <label for="Orb of Transmutation">
              	<img src= {{ url_for('static', filename = 'currencyIcons/tra.png') }}>
              </label>

              <input type="checkbox" name="has" value="Perandus Coin" id="Perandus Coin"/>
              <label for="Perandus Coin">
              	<img src= {{ url_for('static', filename = 'currencyIcons/perandus.png') }}>
              </label>

              <input type="checkbox" name="has" value="Portal Scroll" id="Portal Scroll"/>
              <label for="Portal Scroll">
              	<img src= {{ url_for('static', filename = 'currencyIcons/port.png') }}>
              </label>

              <input type="checkbox" name="has" value="Prophecy" id="Prophecy"/>
              <label for="Prophecy">
              	<img src= {{ url_for('static', filename = 'currencyIcons/prophecy-leaguestone.png') }}>
              </label>

              <input type="checkbox" name="has" value="Regal Orb" id="Regal Orb"/>
              <label for="Regal Orb">
              	<img src= {{ url_for('static', filename = 'currencyIcons/regal.png') }}>
              </label>

              <input type="checkbox" name="has" value="Scroll of Wisdom" id="Scroll of Wisdom"/>
              <label for="Scroll of Wisdom">
              	<img src= {{ url_for('static', filename = 'currencyIcons/wis.png') }}>
              </label>

              <input type="checkbox" name="has" value="Silver Coin" id="Silver Coin"/>
              <label for="Silver Coin">
              	<img src= {{ url_for('static', filename = 'currencyIcons/silver.png') }}>
              </label>

              <input type="checkbox" name="has" value="Vaal Orb" id="Vaal Orb"/>
              <label for="Vaal Orb">
              	<img src= {{ url_for('static', filename = 'currencyIcons/vaal.png') }}>
              </label>

              <input type="checkbox" name="has" value="Splinter of Chayula" id="Splinter of Chayula"/>
              <label for="Splinter of Chayula">
              	<img src= {{ url_for('static', filename = 'currencyIcons/splinter-chayula.png') }}>
              </label>

              <input type="checkbox" name="has" value="Splinter of Esh" id="Splinter of Esh"/>
              <label for="Splinter of Esh">
              	<img src= {{ url_for('static', filename = 'currencyIcons/splinter-esh.png') }}>
              </label>

              <input type="checkbox" name="has" value="Splinter of Tul" id="Splinter of Tul"/>
              <label for="Splinter of Tul">
              	<img src= {{ url_for('static', filename = 'currencyIcons/splinter-tul.png') }}>
              </label>

              <input type="checkbox" name="has" value="Splinter of Uul-Netol" id="Splinter of Uul-Netol"/>
              <label for="Splinter of Uul-Netol">
              	<img src= {{ url_for('static', filename = 'currencyIcons/splinter-uul-netol.png') }}>
              </label>

              <input type="checkbox" name="has" value="Splinter of Xoph" id="Splinter of Xoph"/>
              <label for="Splinter of Xoph">
              	<img src= {{ url_for('static', filename = 'currencyIcons/splinter-xoph.png') }}>
              </label>

            </div>

            <h2 class="sidebar-text">What items do you want?</h2><br>
            <div class="item-align">

              <input type="checkbox" name="want" value="apprentice-sextant" id="Apprentice Cartographers Sextant Want"/>
  	            <label for="Apprentice Cartographers Sextant Want">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/apprentice-sextant.png') }}>
  	            </label>

              <input type="checkbox" name="want" value="armour" id="Armourers Scrap Want"/>
  	            <label for="Armourers Scrap Want">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/armour.png') }}>
  	            </label>

              <input type="checkbox" name="want" value="whetstone" id="Blacksmiths Whetstone Want"/>
  	            <label for="Blacksmiths Whetstone Want">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/whetstone.png') }}>
  	            </label>

              <input type="checkbox" name="want" value="blessed" id="Blessed Orb Want"/>
  	            <label for="Blessed Orb Want">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/blessed.png') }}>
  	            </label>

              <input type="checkbox" name="want" value="blessing-chayula" id="Blessing of Chayula Want"/>
  	            <label for="Blessing of Chayula Want">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/blessing-chayula.png') }}>
  	            </label>

              <input type="checkbox" name="want" value="blessing-esh" id="Blessing of Esh Want"/>
  	            <label for="Blessing of Esh Want">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/blessing-esh.png') }}>
  	            </label>

              <input type="checkbox" name="want" value="blessing-tul" id="Blessing of Tul Want"/>
  	            <label for="Blessing of Tul Want">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/blessing-tul.png') }}>
  	            </label>

              <input type="checkbox" name="want" value="blessing-uul-netol" id="Blessing of Uul-Netol Want"/>
  	            <label for="Blessing of Uul-Netol Want">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/blessing-uul-netol.png') }}>
  	            </label>

              <input type="checkbox" name="want" value="blessing-xoph" id="Blessing of Xoph Want"/>
  	            <label for="Blessing of Xoph Want">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/blessing-xoph.png') }}>
  	            </label>

              <input type="checkbox" name="want" value="chisel" id="Cartographers Chisel Want"/>
  	            <label for="Cartographers Chisel Want">
  	            	<img src= {{ url_for('static', filename = 'currencyIcons/chisel.png') }}>
  	            </label>

              <input type="checkbox" name="want" value="chaos" id="Chaos Orb Want"/>
              <label for="Chaos Orb Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/chaos.png') }}>
              </label>

              <input type="checkbox" name="want" value="chrom" id="Chromatic Orb Want"/>
              <label for="Chromatic Orb Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/chrom.png') }}>
              </label>

              <input type="checkbox" name="want" value="divine" id="Divine Orb Want"/>
              <label for="Divine Orb Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/divine.png') }}>
              </label>

              <input type="checkbox" name="want" value="exa" id="Exalted Orb Want"/>
              <label for="Exalted Orb Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/exa.png') }}>
              </label>

              <input type="checkbox" name="want" value="gcp" id="Gemcutters Prism Want"/>
              <label for="Gemcutters Prism Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/gcp.png') }}>
              </label>

              <input type="checkbox" name="want" value="bauble" id="Glassblowers Bauble Want"/>
              <label for="Glassblowers Bauble Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/bauble.png') }}>
              </label>

              <input type="checkbox" name="want" value="jew" id="Jewellers Orb Want"/>
              <label for="Jewellers Orb Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/jew.png') }}>
              </label>

              <input type="checkbox" name="want" value="journeyman-sextant" id="Journeyman Cartographers Sextant Want"/>
              <label for="Journeyman Cartographers Sextant Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/journeyman-sextant.png') }}>
              </label>

              <input type="checkbox" name="want" value="master-sextant" id="Master Cartographers Sextant Want"/>
              <label for="Master Cartographers Sextant Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/master-sextant.png') }}>
              </label>

              <input type="checkbox" name="want" value="mirror" id="Mirror of Kalandra Want"/>
              <label for="Mirror of Kalandra Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/mirror.png') }}>
              </label>

              <input type="checkbox" name="want" value="alch" id="Orb of Alchemy Want"/>
              <label for="Orb of Alchemy Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/alch.png') }}>
              </label>

              <input type="checkbox" name="want" value="alt" id="Orb of Alteration Want"/>
              <label for="Orb of Alteration Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/alt.png') }}>
              </label>

              <input type="checkbox" name="want" value="aug" id="Orb of Augmentation Want"/>
              <label for="Orb of Augmentation Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/aug.png') }}>
              </label>

              <input type="checkbox" name="want" value="chance" id="Orb of Chance Want"/>
              <label for="Orb of Chance Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/chance.png') }}>
              </label>

              <input type="checkbox" name="want" value="fuse" id="Orb of Fusing Want"/>
              <label for="Orb of Fusing Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/fuse.png') }}>
              </label>

              <input type="checkbox" name="want" value="scour" id="Orb of Scouring Want"/>
              <label for="Orb of Scouring Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/scour.png') }}>
              </label>

              <input type="checkbox" name="want" value="regret" id="Orb of Regret Want"/>
              <label for="Orb of Regret Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/regret.png') }}>
              </label>

              <input type="checkbox" name="want" value="tra" id="Orb of Transmutation Want"/>
              <label for="Orb of Transmutation Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/tra.png') }}>
              </label>

              <input type="checkbox" name="want" value="perandus" id="Perandus Coin Want"/>
              <label for="Perandus Coin Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/perandus.png') }}>
              </label>

              <input type="checkbox" name="want" value="port" id="Portal Scroll Want"/>
              <label for="Portal Scroll Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/port.png') }}>
              </label>

              <input type="checkbox" name="want" value="prophecy-leaguestone" id="Prophecy Want"/>
              <label for="Prophecy Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/prophecy-leaguestone.png') }}>
              </label>

              <input type="checkbox" name="want" value="regal" id="Regal Orb Want"/>
              <label for="Regal Orb Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/regal.png') }}>
              </label>

              <input type="checkbox" name="want" value="wis" id="Scroll of Wisdom Want"/>
              <label for="Scroll of Wisdom Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/wis.png') }}>
              </label>

              <input type="checkbox" name="want" value="silver" id="Silver Coin Want"/>
              <label for="Silver Coin Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/silver.png') }}>
              </label>

              <input type="checkbox" name="want" value="vaal" id="Vaal Orb Want"/>
              <label for="Vaal Orb Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/vaal.png') }}>
              </label>

              <input type="checkbox" name="want" value="splinter-chayula" id="Splinter of Chayula Want"/>
              <label for="Splinter of Chayula Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/splinter-chayula.png') }}>
              </label>

              <input type="checkbox" name="want" value="splinter-esh" id="Splinter of Esh Want"/>
              <label for="Splinter of Esh Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/splinter-esh.png') }}>
              </label>

              <input type="checkbox" name="want" value="splinter-tul" id="Splinter of Tul Want"/>
              <label for="Splinter of Tul Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/splinter-tul.png') }}>
              </label>

              <input type="checkbox" name="want" value="splinter-uul-netol" id="Splinter of Uul-Netol Want"/>
              <label for="Splinter of Uul-Netol Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/splinter-uul-netol.png') }}>
              </label>

              <input type="checkbox" name="want" value="splinter-xoph" id="Splinter of Xoph Want"/>
              <label for="Splinter of Xoph Want">
              	<img src= {{ url_for('static', filename = 'currencyIcons/splinter-xoph.png') }}>
              </label>
            </div>
            <p>
                {% if session['username'] is defined %}
                <input type="submit" class="btn btn-primary pull-right" value="Save">
                {% endif %}
            </p>
          </form>
          <input id="search-btn" type="submit" class="btn btn-primary btn-login" value="Search">

          <br></br>

        </div>

        <div class="col-md-8">
          <div class="market-size">
            <div class="market-table">
              <table>
                <tr id="market-header">
                  <th style="padding-left:10px;">Selling</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th style="padding-right: 15px;">Buying</th>
                  <th style="padding-right: 15px;">Name</th>
                  <th>League</th>
                  <th style="padding-right: 10px;">Quantity</th>
{#                  <th>Listed On</th>#}
                </tr>

                  <!-- Live-loaded stuff goes here -->

              </table>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}

  </div>
